body {
    margin: 0;
    background: #10051d;
    height: 139vh;
    position: relative;
}

header {
    height: 130px;
}

#banniere {
    align-content: center;
    justify-content: center;
    /* grid-template-columns: 30% 40% 30%; */
    position: relative;
}

.wrapper {
    width: 320px;
    margin: 1.5% auto 0.5%;
    position: relative;
    height: 70px;
    overflow: hidden;
}

.item{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 100%;
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 }
 .item:hover{
    animation-play-state: paused;
 }

 .item1{
    animation-delay: 0;
 }
 .item2{
    animation-delay: 6s;
 }
 .item3{
    animation-delay: 12s;
 }

 .item4{
    animation-delay: 18s;
 }

  @keyframes scrollLeft {
    to{right: -85px;}
 }
.item img{
    width: 50px;
    height: 50px;
 }
.item img:hover{
    width: 70px;
    height: 70px;
    cursor: pointer;
    
 }


/****************************profil************************************/
#person {
    position: absolute;
    top: 50%;
    right: 3%;
    height: 30px;
    color: white;
 
}

/******************fin profil************************************/
#menu {
    position: absolute;
    right: 0%;
    font-size: xx-large;
    top: 9.7%;
    font-weight: 900;
    background: black;
    width: 100%;
    height: 5%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu li {
    display: inline-block;
    margin: 0 auto;
}

#menu li a:link, #menu li a:visited {
    text-decoration: none;
    color: white;
    padding: 16px 0;
    display: block;
    width: 152px;
    font-size: 20px;
    text-align: center;
}

#menu li a:hover{
    color: red;
}

/*************************filtre pour recherche*************/
.filter-bar {
    margin: 0 25px 0;
    height: 175px;
    width: 350px;
    background: chocolate;
    padding: 20px 10px;
    position: absolute;
    top: 232px;
    border-radius: 10px;
}

.filter-item {
    margin: 15px 2px;
}
#category {
    margin: 0 68px 0 0;
}
#speak {
    margin: 0 54px 0 0;
}
#type, #names, #date, #languages, .btn-primary {
    border-radius: 25px;
}
#type {
    padding: 0px 64px;
}
#names {
    padding: 0 97px;
}
#date {
    padding: 0 59px;
}
#languages {
    padding: 0 68px;
}
.btn-primary {
    width: 326px;
}

/*********************affichage streameurs*******************/
.resultat {
    background: grey;
    width: 370px;
    height: 570px;
    position: absolute;
    top: 476px;
    margin: 0 0 0 25px;
    border-radius: 10px;
}

/*********************contenu streameurs*******************/
#middle {
    height: 132vh;
}

.contenu {
    text-align: center;
    background: #8d4745;
    position: absolute;
    top: 232px;
    left: 410px;
    display: flex;
    flex-wrap: wrap;
    right: 40px;
    border-radius: 10px;
}

.card {
    width: 216px;
    background-color: #fff;
    margin: 28px 11px 28px;
    height: 350px;
    border-radius: 10px;
    padding: 0 0 0 2px;
}

.cat_video{background-color: #7C24A2;}
.cat_real{background-color: red;}
.cat_cook{background-color: #3A8720;}

/***********footer****************/
footer {
    background: #d3e3fd;
    height: 50px;
    text-align: center;
    padding: 25px 0 0 0;
    margin: 18px 0 0 0;
}

a {
    text-decoration: none;
    margin: 2%;
}

.team {
    margin: 10px;
}

/*-------------------------switch effet sombre et clair----------------------------*/

.dark {
    background-color: #333;
    color: #fff;
}

.btn-dark {
    background-color: #555;
    color: #fff;
}
.darker {
    background-color: #121212;
    color: #42187e;
}

.light {
    background-color: #ffffff;
    color: #000000;
}

#menu.dark {
    background-color: #333;
    color: #ffffff;
    opacity: 1;
}

.filter-bar.dark {
    background-color: #333;
    color: #42187e;

}

.btn-dark {
    background-color: #555;
    color: #fff;
}

.light .item img {
    filter: brightness(0);
}

.light header {
    background-color: #e1e1e1;
    color: #000;
}

.light footer {
    background-color: #e1e1e1;
    color: #000;
}

.darker .item img {
    filter: brightness(1.2);
}

.darker header {
    background-color: #444;
    color: #fff;
}

.darker footer {
    background-color: #444;
    color: #fff;
}