body {
    margin: 0;
    background: #b1b1b1;
    height: 139vh;
    position: relative;
}

header {
    height: 130px;
}

#banniere {
    /* display: grid; */
    align-content: center;
    justify-content: center;
    grid-template-columns: 30% 40% 30%;
    position: relative;
}

.wrapper{
    border:1px solid black;
    width: 30%;
    margin: 1% auto;
    position: relative;
    height: 100px;
    overflow: hidden;
}
.item{
  
    width: 200px;
    height: 100px;
    border-radius: 6px;
    position: absolute;
    right: 100%;
    margin-right: 5px;
    margin-left: 5px;
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 }


 .item1{
    animation-delay: 0;
 }
 .item2{
    animation-delay: 7s;
 }
 .item3{
    animation-delay: 14s;
 }

 .item4{
    animation-delay: 21s;
 }

  @keyframes scrollLeft {
    to{right: -500px;}
 }
.item img{
    width: 200px;height: 100px;
 }


/****************************profil************************************/
#person {
    /* padding-top: 35px;
    padding-left: 85%; */
    /* grid-column: 3/4; */
    position: absolute;
    top: 40%;
    right: 3%;
    height: 30px;
 
}
/******************fin profil************************************/
#menu {
    position: absolute;
    right: 0%;
    font-size: xx-large;
    top: 11%;
    font-weight: 900;
    background: black;
    opacity: 0.5;
    width: 100%;
    height: 5%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu li {
    display: inline-block;
    margin: 0 auto;
}

#menu li a:link, #menu li a:visited {
    text-decoration: none;
    color: white;
    padding: 16px 0;
    display: block;
    width: 152px;
    font-size: 20px;
    text-align: center;
}

#menu li a:hover{
    color: red;
}


/*************************filtre pour recherche*************/
.filter-bar {
    margin: 0 25px 0;
    height: 175px;
    width: 350px;
    background: chocolate;
    padding: 20px 10px;
    position: absolute;
    top: 232px;
}

.filter-item {
    margin: 15px 2px;
}
#category {
    margin: 0 68px 0 0;
}
#speak {
    margin: 0 54px 0 0;
}
#type {
    padding: 0px 64px;
}
#names {
    padding: 0 97px;
}
#date {
    padding: 0 59px;
}
#languages {
    padding: 0 68px;
}
.btn-primary {
    width: 326px;
}

/*********************affichage streameurs*******************/
.resultat {
    background: grey;
    width: 370px;
    height: 860px;
    position: absolute;
    top: 476px;
    margin: 0 0 0 25px;
}

/*********************contenu streameurs*******************/
#middle {
    height: 132vh;
}

.contenu {
    text-align: center;
    background: #8d4745;
    position: absolute;
    top: 232px;
    left: 27%;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.card {
    width: 216px;
    background-color: #fff;
    margin: 9px 11px 9px;
    height: 350px;
    border-radius: 10px;
    padding: 0 0 0 2px;
}

.cat_video{background-color: blue;}
.cat_real{background-color: red;}
.cat_cook{background-color: green;}

/***********footer****************/
.footer {
    background: #d3e3fd;
    height: 50px;
    text-align: center;
    padding: 25px 0 0 0;
    margin: 18px 0 0 0;
}

a {
    text-decoration: none;
    margin: 2%;
}

.team {
    margin: 10px;
}