/*-------------------------bouton sombre clair----------------------------*/
#switch {
    appearance: none;
    width: 44px;
    height: 12px;
    background-color: whitesmoke;
    border-radius: 5rem;
    transition: background-color .2s;
    box-shadow: 0 0 15px rgba(52, 52, 52, 0.354);
    position: absolute;
    right: 2.5%;
    top: 25px;
}

#switch::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #57155D;
    transition: left .2s;
}

#switch:checked {
    background-color: #9FF0F7;
}

#switch:checked::after {
    left: 70%;
}

/*******************************effet sombre clair***********************/

.btn-dark {
    background-color: #555;
    color: #fff;
}

.darker {
    background-color: #10051D;
    color: black;
}

.light {
    background-color: #ffffff;
    color: #000000;
}

.darker .content {
    background-color: #10051D;
    color: black;
}

.light .item img {
    filter: brightness(2.55);
    /* filter: brightness(0); */
}

.light header {
    background-color: #fffefe;
    color: #000;
}

.darker .item img {
    /* filter: brightness(1.2); */
    filter: brightness(4);
}

.darker header {
    background-color: #10051D;
    color: #fff;
}

.darker footer {
    background-color: #9FF0F7;
    color: #000;
}