@import url('./carousel.css');
@import url('./menu_person.css');
@import url('./menu_top.css');
@import url('./aside-left.css');
@import url('./middle-content.css');
@import url('./footer.css');
@import url('./dark-light.css');
@import url('./zoom-card.css');

body {
    margin: 0;
    background: #10051d;
    height: 140vh;
    position: relative;
}

header {
    height: 170px;
}

#banner {
    align-content: center;
    position: relative;
}
.img{
    width: 175px;
    position: absolute;
    z-index: 1;
    margin: 15px 0 0 15px;
}
img {
    width: 100%;
}

