/*********************contenu streameurs*******************/
#middle {
    height: 120vh;
}

.content {
    display: grid;
    background: #9FF0F7;
    position: absolute;
    top: 195px;
    left: 410px;
    right: 40px;
    border-radius: 10px;
    height: 925px;
    overflow-x: auto;
    justify-content: start;
    grid-template-columns: repeat(60, 1fr); /* 60 colonnes de largeur égale */
    grid-template-rows: repeat(2, auto); /* 2 rangées avec une hauteur automatique */
}
::-webkit-scrollbar {
    height: 12px;
}

/* La partie de la barre de défilement où le curseur glisse */
::-webkit-scrollbar-track {
    background: #57155d;
}

/* La partie de la barre de défilement qui déplace le contenu */
::-webkit-scrollbar-thumb {
    background: #bac30a;
    border-radius: 10px;
}
/*-----------------------------cartes------------------------------*/
.card {
    width: 216px;
    background-color: #fff;
    margin: 28px 11px;
    height: 400px;
    border-radius: 10px;
    padding: 0 0 0 2px;
}

.cat_video {
    background-color: #7C24A2;
}

.cat_gaming {
    background-color: #ff5733;
}

.cat_divers {
    background-color: #33ff57; 
}

.cat_jeu_video {
    background-color: #3357ff; 
}

.cat_actualite_esport {
    background-color: #ff33a8; 
}

.cat_fps {
    background-color: #ffb833; 
}

.cat_sport {
    background-color: #33fff2; 
}

.cat_cuisine {
    background-color: #ff3333; 
}

.cat_talk_show {
    background-color: #a833ff; 
}

.cat_rpg {
    background-color: #57ff33;
}

.cat_formation {
    background-color: #ff3357; 
}

.cat_developpement_web_tutoriels {
    background-color: #3333ff; 
}

.cat_diversite {
    background-color: #33a8ff; 
}

.cat_actualites {
    background-color: #ffd433; 
}

.cat_informations {
    background-color: #33ffad; 
}

.cat_societe {
    background-color: #ff9d33; 
}

.cat_vlog {
    background-color: #ff3369; 
}

.cat_irl {
    background-color: #57a8ff; 
}

.cat_vintage {
    background-color: #ff336d;
}

.cat_aventure {
    background-color: #a8ff33; 
}

.cat_politique {
    background-color: #ff57a8; 
}

.cat_manga {
    background-color: #a8ff57; 
}

.cat_lifestyle {
    background-color: #ff33f5;
}

.cat_react {
    background-color: #57ffad; 
}

.cat_esport {
    background-color: #3357a8;
}

.cat_humour {
    background-color: #ff33a2; 
}

.cat_divertissement {
    background-color: #a83357; 
}

.cat_varietes {
    background-color: #33ff99; 
}


/******************************formulaires***************************/
input[type=password],input[type=date],input[type=text],input[type=mail] {
    width: 100%;
    margin-bottom: 10px;
}

/*************test formulaire contact**************apparait que si le formulaire est faux********/
.alert,
.succes {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.success {
    background-color: rgba(32, 118, 8, 0.449);
    border: 1px solid green;
}

.alert {
    background-color: rgba(255, 0, 0, 0.449);
    border: 1px solid red;
}