@import url('../variables.css');

/*  ======================================
    NOTE : Ce nouveau fichier CSS remplace
    zoomCard.css et regroupe les styles
    de la Zoom Card ET des Minia Cards.
    Première partie : styles communs
    Deuxième partie : styles Minia Cards
    Troisième partie : Styles Zoom Card
    (+ Partie des éléments à trier)
    ======================================
*/


/*  ==========================
    ***   STYLES COMMUNS   ***
    ==========================
*/
.close {
    cursor: pointer;
    position: relative;
    left: 97%;
    font-weight: bold;
    font-size: 20px;
}

.card, .zoomCard {
    overflow: hidden;
    box-sizing: border-box;

    border-radius: 5px;
    border-color: var(--color-card-border);
    background-color: var(--color-primary-extralight);
    background: rgb(233, 206, 244);
    background: linear-gradient(0deg, rgba(233, 206, 244, 1) 0%, rgba(240, 222, 248, 1) 100%);
    color: var(--color-font-main);

    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    
}
.card:hover{
    transform: scale(1.1);
}

.cardHeader {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 6px;

    font-family: var(--font-family-main);
    font-weight: 600;
    color: var(--color-font-extralight);
    border-radius: 0 20px 20px 0;
    background: var(--color-primary-extradark);
}

.cardPicture, .zoomCardPicture {
    width: 100%;
    border: 1px solid var(--color-primary-extradark);
}

.cardInfoUrl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardUrl {
    display: flex;

    text-align: center;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    border-radius: 30px;
    border: 1px solid;
    font-weight: 600;
    color: #eee;
}

.cardUrl.disabled {
    opacity: 0.5; /* Rend l'icône plus transparente pour l'effet désactivé */
    pointer-events: none; /* Désactive le clic */
    filter: grayscale(100%); /* Rend l'icône grise */
}

.cardUrl img, .zoomCardUrl img {  
    width: 70%;
    vertical-align: middle;
}

.cardUrl.cardKick img {
    width: 58%;
}

.cardYoutube {
    background: content-box radial-gradient(circle, rgb(255, 0, 0) 0%, rgb(180, 4, 4) 100%);
    border-color: #5f0404;
}

.cardYoutube:hover {
    background: content-box radial-gradient(circle, rgb(255, 56, 56) 0%, rgb(212, 37, 37) 100%);
    border-color: #922323;
}

.cardTwitch {
    background: content-box radial-gradient(circle, rgb(134, 82, 246) 0%, rgb(73, 44, 135) 100%);
    border-color: #311e5b;
}

.cardTwitch:hover {
    background: content-box radial-gradient(circle, rgb(151, 107, 247) 0%, rgb(106, 71, 180) 100%);
    border-color: #462e79;
}

.cardKick {
    background: content-box radial-gradient(circle, rgb(83, 252, 24) 0%, rgb(55, 167, 15) 100%);
    border-color: #2e8b0c;
}

.cardKick:hover {
    background: content-box radial-gradient(circle, rgb(131, 255, 86) 0%, rgb(80, 180, 44) 100%);
    border-color: #47af21;
}

.cardX {
    background: content-box radial-gradient(circle, rgb(27, 27, 27) 0%, rgb(0, 0, 0) 100%);
    border-color: #000000;
}

.cardX:hover {
    background: content-box radial-gradient(circle, rgb(44, 44, 44) 0%, rgb(22, 22, 22) 100%);
    border-color: #000000;
}

.fa-x-twitter {
    margin: 7px 0 0 6px;
    font-size: 20px;
}

.cardInstagram {
    background: content-box radial-gradient(circle, rgb(222, 40, 120) 0%, rgb(168, 29, 90) 100%);
    border-color: #8F184E;
}

.cardInstagram:hover {
    background: content-box radial-gradient(circle, rgb(226, 67, 136) 0%, rgb(179, 39, 100) 100%);
    border-color: #a82560;
}

.cardTiktok {
    background: content-box radial-gradient(circle, rgb(101, 195, 201) 0%, rgb(64, 136, 141) 100%);
    border-color: #22696e;
}

.cardTiktok:hover {
    background: content-box radial-gradient(circle, rgb(126, 219, 226) 0%, rgb(66, 138, 143) 100%);
    border-color: #32858b;
}

.cardSnapchat {
    background: content-box radial-gradient(circle, rgb(252, 252, 2) 0%, rgb(161, 161, 2) 100%);
    border-color: #888801;
}

.cardSnapchat:hover {
    background: content-box radial-gradient(circle, rgb(255, 255, 49) 0%, rgb(185, 185, 7) 100%);
    border-color: #bbbb01;
}


/*  ================================
    ***   STYLES MINIA (.card)   ***
    ================================
*/

.card {
    padding: 6px;

    border: 3px solid;
    -webkit-box-shadow: 6px 6px 15px 3px rgba(16,5,29,0.6); 
    box-shadow: 6px 6px 15px 3px rgba(16,5,29,0.6);
    transition-duration: 0.4s;
}

/* .card:hover {
    width: 252px;
    height: 420px;
    margin: 12px 10px;

    transition-duration: 0.4s;
} */

.card .cardHeader {
    height: 28px;
    padding: 3px 10px;

    font-size: 1.1em;
}

.card .cardInfoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

    width: 100%;
    height: 30px;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 8px;

    color: var(--color-font-main);
}

.cardInfoUrl {
    justify-content: space-around;
}

.card .cardInfoPersonal {
    height: 20px;

    font-family: var(--font-family-secondary);
    font-weight: 700;
}

.cardAge, .cardLanguage {
    width: 40%;
}

.cardAge {
    text-align: left;
}

.cardLanguage {
    text-align: right;;
}

.card .cardCatRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

    width: 100%;
    height: 30px;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.card .cardMainCat, .card .cardSecondCat {
    width: 48%;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    font-family: var(--font-family-main);
    font-weight: 500;
    background-color: var(--color-primary-light);
    color: var(--color-font-extralight);
}

.card .cardTheme {
    width: 48%;
    height: 30px;
    margin-bottom: 6px;
    text-align: center;

    font-family: var(--font-family-main);
    font-size: 0.9em;
    font-weight: 500;
}

.card .cardActions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.zoomButton, .deckButton {
    width: 64px;
    height: 64px;
    margin: 0 10px;
    text-align: center;
    
    border-radius: 50%;
}

.zoomButton:hover, .deckButton:hover {
    cursor: pointer;
}

.zoomButton img, .deckButton img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.zoomButton p, .deckButton p {
    margin: 0;

    font-family: var(--font-family-secondary);
    font-size: 0.85em;
    font-weight: 900;
}

.zoomButton {
    border: 2px solid var(--color-secondary-extradark);
    background: rgb(159,240,247);
    background: radial-gradient(circle, rgba(159,240,247,1) 0%, rgba(63,224,237,1) 100%);
    color: var(--color-secondary-extradark);
    transition-duration: 0.8s;
}

.zoomButton:hover {
    border-color: var(--color-secondary-dark);
    background: var(--color-secondary-light);
    background: radial-gradient(circle, rgb(215, 242, 245) 0%, rgba(159,240,247,1) 100%);
    transition-duration: 0.4s;
}

.deckButton {
    border: 2px solid var(--color-primary-extradark);
    background: var(--color-primary-light);
    background: radial-gradient(circle, rgb(233, 206, 244) 0%, rgba(236,96,203,1) 100%);
    color: var(--color-primary-extradark);
    transition-duration: 0.8s;
}

.deckButton:hover {
    border-color: var(--color-primary-light);
    background: var(--color-primary-extralight);
    background: radial-gradient(circle, rgb(249, 241, 252) 0%, rgb(233, 206, 244) 100%);
    transition-duration: 0.4s;
}

.card .cardUrl {
    width: 30px;
    height: 30px;
}


/*  ===================================
    ***   STYLES ZOOM (.zoomCard)   ***
    ===================================
*/

.zoomCard {
    padding: 10px;
    width: 100%;
    height: 790px;
    overflow: hidden;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 5px solid var(--color-card-border);
}

.zoomCard .cardHeader {
    height: 42px;
    padding: 5px 15px;

    font-family: var(--font-family-main);
    font-size: 1.4em;
}

.zoomCard .cardUrl {
    width: 35px;
    height: 35px;
}

.cardInfoColumn {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 100%;
    height: 60px;
    padding: 0 3px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.cardInfoTitle {
    margin-bottom: 0.5em;
    /* font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'CaviarDreams';
    font-size: 0.8em;
    font-weight: 800;
    color: #57155D;
}

.cardInfoValue {
    font-family: 'Caviar Dreams';
    font-size: 1em;
    font-weight: 900;
    color: #10051D;
}

.countryFlag img {
    width: 15px;
    height: 15px;
}

.cardSlot {
    border: 2px solid #10051D;
    margin-bottom: 10px;
    padding: 5px 8px;
    box-sizing: border-box;
}

.slotContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Caviar Dreams';
    font-size: 0.9em;
    font-weight: 800;
}

.cardFact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardBulletInfo {
    margin: 4px 8px 4px 0;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 35px;
    border: 1px solid #10051D;
    color: #FFFFFF;
    font-weight: 900;
    background: center no-repeat url("../../picture/icons/icon-info.svg"),
        content-box radial-gradient(circle, rgb(122, 38, 129) 0%, rgb(87, 21, 93) 100%);
    border-color: #10051D;
}
