.filter-bar {
    margin: 0 25px 0;
    position: relative;
    top: 20px;
    height: 10vh;
}

#filterForm {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
    width: 900px;
    margin-left: auto; 
    position: relative;
}

.filter-item {
    flex: 1 1 130px; 
    display: flex;
    flex-direction: column;
}

.filter-item label {
    font-weight: bold;
    margin-bottom: 0.5em; 
}

.filter-item select {
    padding: 0.2em;
    font-size: 16px;
    color: #5d5d5d;
}

#type, #categoryS, #theme, #ages, #names, #languages {
    border-radius: 25px;
    width: 140px;
}

input[type=reset] {
    width: 150px;
    margin: 25px 0 0;
    border-radius: 25px;
}

.result {
    width: 370px;
    height: 810px;
    position: relative;
    top: 56px;
    margin: 0 0 0 25px;
}