@import url('../variables.css');

/*********************contenu streameurs*******************/
#middle {
    height: 140vh;
}

.content {
    display: grid;
    position: absolute;
    top: 250px;
    left: 410px;
    right: 20px;
    border-radius: 10px;
    height: 955px;
    overflow-x: auto;
    justify-content: start;
    grid-template-columns: repeat(60, 1fr); /* 60 colonnes de largeur égale */
    grid-template-rows: repeat(2, auto); /* 2 rangées avec une hauteur automatique */
}
::-webkit-scrollbar {
    height: 12px;
}

/* La partie de la barre de défilement où le curseur glisse */
::-webkit-scrollbar-track {
    background: var(--color-secondary-light);
}

/* La partie de la barre de défilement qui déplace le contenu */
::-webkit-scrollbar-thumb {
    background: var(--color-primary-dark);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-light);
}

/******************************formulaires***************************/
input[type=date],input[type=text],input[type=mail] {
    width: 100%;
    margin-bottom: 10px;
}
input[type=date] {
    padding: 10px 2px;
    width: 94%;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.edit-modal-content #birthdate {
    border: 1px solid grey;
    width: 100%;
}
.edit-modal-content #factOne, .edit-modal-content #factTwo, .edit-modal-content #factThree,.edit-modal-content #language, .edit-modal-content #nickname, .edit-modal-content #mainCat, .edit-modal-content #secondCat, .edit-modal-content #thematic, .edit-modal-content #name {
    width: 100%;
    margin: 5px 0;
    padding: 10px 1px;
}
.edit-modal-content #pYoutube, .edit-modal-content #pTwitch, .edit-modal-content #pKick, .edit-modal-content #pTwitter, .edit-modal-content #pInstagram, .edit-modal-content #pTiktok {
    padding: 10px 5px;
    margin: 0 -5px;
}
/*************test formulaire contact**************apparait que si le formulaire est faux********/
.alert,
.success {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.success {
    background-color: var(--color-success-dark);
    border: 1px solid var(--color-success-light);
}

.alert {
    background-color: var(--color-alert-dark);
    border: 1px solid var(--color-alert-light);
}